<div class="soutenir-fondation">
    <h2>SOUTENIR LA FONDATION</h2>

    <div class="action-cards">
        <!-- Carte 1 : Devenir membre -->
        <div class="card">
            <img src="/assets/together.jpg" alt="Devenir membre" />
            <div class="overlay bleue">
                <h3>Devenir membre</h3>
                <div class="hover-text">
                    En devenant membre, vous rejoignez une communauté engagée qui partage les valeurs de solidarité et d’éducation. C’est un moyen
                    concret de contribuer à nos actions tout en bénéficiant d’informations exclusives sur nos projets.
                </div>
                <button routerLink="/membre">En savoir plus</button>
            </div>
        </div>

        <!-- Carte 2 : Faire un don -->
        <div class="card">
            <img src="/assets/volunteers.png" alt="Faire un don" />
            <div class="overlay jaune">
                <h3>Faire un don</h3>
                <div class="hover-text">
                    Vos dons permettent à la fondation de financer ses programmes éducatifs et d’accompagner durablement les enseignants et les élèves
                    dans des zones défavorisées. Chaque contribution fait une réelle différence.
                </div>
                <button routerLink="/don">Faire un don</button>
            </div>
        </div>

        <!-- Carte 3 : Boutique -->
        <div class="card">
            <img src="/assets/book.jpg" alt="Boutique" />
            <div class="overlay">
                <h3>Aller à la boutique</h3>
                <div class="hover-text">
                    Découvrez des produits solidaires qui véhiculent les valeurs de la fondation. En achetant dans notre boutique, vous soutenez
                    directement nos actions tout en portant fièrement nos couleurs.
                </div>
                <button routerLink="/boutique">Accéder à la boutique</button>
            </div>
        </div>
    </div>
</div>
