<app-navbar></app-navbar>
<app-loading-spinner [show]="isLoading" />

@if (messageErreur.includes('Erreur') || messageErreur.includes('introuvable')) {
<section class="result-page error">
    <div class="result-content">
        <div class="icon">✖</div>
        <h1>Échec du don</h1>
        <p>{{ messageErreur }}</p>
        <a class="btn" routerLink="/">Retour à l'accueil</a>
    </div>
</section>
} @else if (messageErreur) {
<section class="result-page success">
    <div class="result-content">
        <div class="icon">✔</div>
        <h1>Don enregistré</h1>
        <p>{{ messageErreur }}</p>
        <a class="btn" routerLink="/">Retour à l'accueil</a>
    </div>
</section>
} @else {
<app-title titre="FINALISER VOTRE DON"></app-title>

<section class="confirmation-container">
    <h3>Choisissez votre moyen de paiement :</h3>

    <div class="option-container">
        <label class="option-label">
            <input type="radio" name="payment" [(ngModel)]="selectedOption" value="singpay" />
            <div class="option-content">
                <strong>SING Pay – Solution numériques sécurisé</strong>
                <p>
                    Payez votre don directement via SING Pay, le portefeuille électronique sécurisé de la SING.<br />
                    Disponible 24h/24, paiement instantané.
                </p>
                <p class="montant">
                    Montant du don : <strong>{{ montant | number }} XAF</strong>
                </p>
                <button class="singpay-btn" (click)="buySingPay()" [disabled]="selectedOption !== 'singpay'">PAYER AVEC SING PAY</button>
            </div>
        </label>
    </div>

    <div class="option-container">
        <label class="option-label">
            <input type="radio" name="payment" [(ngModel)]="selectedOption" value="autre" />
            <div class="option-content">
                <span class="autre-option">Autre moyen de paiement</span>

                <div *ngIf="selectedOption === 'autre'" class="sous-options">
                    <div class="sub-option">
                        <label>
                            <input type="radio" name="autrePayment" [(ngModel)]="selectedAutre" value="rib" />
                            <div>
                                <strong>Paiement par RIB</strong>
                                <p>Vous recevrez un RIB pour un virement bancaire.</p>
                            </div>
                        </label>
                        <button class="sub-btn" (click)="submitDonation(PaymentMethod.RIB)" [disabled]="selectedAutre !== 'rib'">
                            PAYER AVEC LE RIB
                        </button>
                    </div>
                </div>
            </div>
        </label>
    </div>
</section>

}

<app-footer></app-footer>
