<app-navbar></app-navbar>
<div class="page-container">
    <app-title titre="QUI SOMMES-NOUS ?"></app-title>
    <section class="presentation container">
        <h2>LA FONDATION FRANÇOIS MEYE</h2>
        <p>
            La fondation François MEYE est une organisation non gouvernementale gabonaise qui a été créé en juillet 2023. Elle a pour but de
            promouvoir l’éducation et la culture au Gabon, en particulier auprès des populations dans le besoin.
        </p>
    </section>

    <section class="valeurs container">
        <div class="ligne-titre">
            <hr class="barre-gauche" />
            <h2>NOS VALEURS</h2>
            <hr class="barre-droite" />
        </div>

        <div class="valeurs-list">
            <span>Accessibilité</span>
            <span>Engagement</span>
            <span>Transmission</span>
            <span>Éthique</span>
            <span>Dévouement</span>
        </div>
    </section>

    <section class="objectif-principal">
        <p>Rendre accessible une éducation de qualité à plus de 2 millions de Gabonais d’ici 2030</p>
    </section>

    <section class="section-blocs">
        <div class="colonne">
            <h4>LES AXES D’ACTION</h4>
            <div class="bloc bleu">
                <i class="fa-solid fa-book-open"></i>
                <p>Renforcer l’encadrement et les outils d’apprentissage pour les apprenants</p>
            </div>
            <div class="bloc bleu-clair">
                <i class="fa-regular fa-clock"></i>
                <p>Soutenir la bonne formation et le bien-être au travail de l’enseignant</p>
            </div>
        </div>

        <div class="colonne">
            <h4>POURQUOI UNE FONDATION ?</h4>
            <div class="grid-2x2">
                <div class="bloc jaune">Structurer l’action</div>
                <div class="bloc marron">Agir vite au plus près</div>
                <div class="bloc bleu">Mobiliser des ressources</div>
                <div class="bloc gris">Fédérer les bonnes volontés</div>
            </div>
        </div>
    </section>
    <div id="fm" class="biography">
        <app-biography-fm></app-biography-fm>
    </div>

    <app-missions></app-missions>

    <section class="section-bureau">
        <h2>LES MEMBRES DU BUREAU EXÉCUTIF</h2>

        <div class="membres">
            <div class="membre">
                <img src="/assets/members/yannick.png" alt="Yannick EBIBIE NZE" class="photo" />
                <p class="nom">Yannick EBIBIE NZE</p>
                <p class="poste">Président</p>
            </div>

            <div class="membre">
                <img src="assets/members/ulrich.png" alt="Ulrich Ndong" class="photo ajuster-ulrich" />
                <p class="nom">Ulrich Ndong</p>
                <p class="poste">Vice-Président - Chargé de communication</p>
            </div>

            <div class="membre">
                <img src="/assets/members/hans.png" alt="François Hans MEYE" class="photo ajuster-hans" />
                <p class="nom">François Hans MEYE</p>
                <p class="poste">Secrétaire Général</p>
            </div>

            <div class="membre">
                <img src="/assets/members/noemy.png" alt="Noémy OBAME" class="photo" />
                <p class="nom">Noémy OBAME</p>
                <p class="poste">Trésorière</p>
            </div>

            <div class="membre">
                <img src="assets/members/carolina.png" alt="Carolina Kourouna" class="photo ajuster-carolina" />
                <p class="nom">Carolina Kourouna</p>
                <p class="poste">Responsable Programmes</p>
            </div>

            <div class="membre">
                <img src="assets/members/ada.jpeg" alt="Ada Zo'o Madeleine Maryse" class="photo ajuster-carolina" />
                <p class="nom">Ada Zo'o Madeleine Maryse</p>
                <p class="poste">Responsable Communication</p>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>
