<div class="intro-francois-meye animate-on-scroll" id="francois-meye">
    <div class="quote-container">
        <div class="quote-text">
            <img src="/assets/quote.png" alt="quote" class="quote-icon" />
            Honte à celui <br />
            qui ne fera pas mieux <br />
            que son père
        </div>
        <img class="image" src="/assets/francois-meye.jpg" alt="François Méyé" />
    </div>

    <a class="link-qui-sommes-nous" [routerLink]="['/fondation']" fragment="fm"> <i class="fas fa-arrow-left"></i> Découvrir François Meye </a>

    <div class="frame"></div>
</div>
