<div id="missions" class="missions">
    <div class="text-wrapper">NOS MISSIONS</div>

    <div class="group">
        <!-- Mission 1 -->
        <div class="mission-box overlap">
            <img class="logo" src="/assets/teacher.png" alt="Mission 1" />
            <p class="mission-text">Rendre accessible l’enseignement aux populations les moins favorisées</p>
        </div>

        <!-- Mission 2 -->
        <div class="mission-box overlap-3">
            <img class="logo-4" src="/assets/thinker.png" alt="Mission 2" />
            <p class="mission-text">Promouvoir l’innovation en matière d’éducation</p>
        </div>

        <!-- Mission 3 -->
        <div class="mission-box frame-9-instance">
            <img class="logo" src="/assets/bureau_livre.png" alt="Mission 1" />
            <p class="mission-text">Contribuer à l’amélioration des conditions de travail et d’apprentissage dans l’enseignement</p>
        </div>

        <!-- Mission 4 -->
        <div class="mission-box overlap-group">
            <img class="img" src="/assets/star.png" alt="Mission 4" />
            <p class="mission-text">Promouvoir l’excellence et le dévouement dans l’enseignement</p>
        </div>

        <!-- Mission 5 -->
        <div class="mission-box div">
            <img class="logo-2" src="/assets/learner.png" alt="Mission 5" />
            <p class="mission-text">Valoriser le métier de l’enseignant</p>
        </div>

        <!-- Mission 6 -->
        <div class="mission-box overlap-2">
            <img class="logo-3" src="/assets/leve_main.png" alt="Mission 6" />
            <p class="mission-text">Encourager et promouvoir la réussite scolaire</p>
        </div>
    </div>
</div>
