<div class="partenaires">
    <div class="title">NOS PARTENAIRES</div>

    <br />
    <div class="logo-grid">
        <img src="/assets/partners/education-nationale.jpeg" alt="Éducation nationale" />
        <img src="/assets/partners/ministere-culture.png" alt="Ministère de la Culture" />
        <img src="/assets/partners/affaires-sociales.jpeg" alt="Ministère des Affaires Sociales" />
        <img src="/assets/partners/sing.png" alt="SING" />
        <img src="/assets/partners/sikul.png" alt="Sikul" />
        <img src="/assets/partners/gabon24.jpg" alt="Gabon" />
        <img src="/assets/partners/cgc.webp" alt="CGC" />
        <img src="/assets/partners/societe-garantie-du-gabon.jpeg" alt="SGG" />
        <img src="/assets/partners/ryse.png" alt="Ryse" />
        <img src="/assets/partners/WA.jpeg" alt="WA" />
        <img src="/assets/partners/uba-logo.webp" alt="UBA" />
        <img src="/assets/partners/trans-akanda.jpeg" alt="Trans Akanda" />
    </div>
</div>
